Jukebox.Infrastructure/Service References/SpotiFireServer/metadata1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SpotiFire.Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SpotiFire.Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/spotifire/metadata?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8081/spotifire/metadata?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SpotiFire.SpotifyLib" />
  <xs:complexType name="Track">
    <xs:sequence>
      <xs:element minOccurs="0" name="Album" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Artists" nillable="true" type="tns:ArrayOfArtist" />
      <xs:element minOccurs="0" name="IsAvailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsStarred" type="xs:boolean" />
      <xs:element minOccurs="0" name="Length" type="ser:duration" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Popularity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Track" nillable="true" type="tns:Track" />
  <xs:complexType name="ArrayOfArtist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Artist" nillable="true" type="tns:Artist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtist" nillable="true" type="tns:ArrayOfArtist" />
  <xs:complexType name="Artist">
    <xs:sequence>
      <xs:element minOccurs="0" name="Link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Artist" nillable="true" type="tns:Artist" />
  <xs:simpleType name="AuthenticationStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ok" />
      <xs:enumeration value="Bad" />
      <xs:enumeration value="RequireLogin" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AuthenticationStatus" nillable="true" type="tns:AuthenticationStatus" />
  <xs:simpleType name="PlaylistType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Playlist" />
      <xs:enumeration value="FolderStart" />
      <xs:enumeration value="FolderEnd" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PlaylistType" nillable="true" type="tns:PlaylistType" />
  <xs:complexType name="Playlist">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="ImageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsColaberativ" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:PlaylistType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Playlist" nillable="true" type="tns:Playlist" />
  <xs:complexType name="SpotifyStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanGoBack" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanGoNext" type="xs:boolean" />
      <xs:element minOccurs="0" name="CanStartPlayback" type="xs:boolean" />
      <xs:element minOccurs="0" name="CurrentTrack" nillable="true" type="tns:Track" />
      <xs:element minOccurs="0" name="IsPlaying" type="xs:boolean" />
      <xs:element minOccurs="0" name="LengthPlayed" type="ser:duration" />
      <xs:element minOccurs="0" name="Repeat" type="xs:boolean" />
      <xs:element minOccurs="0" name="Shuffle" type="xs:boolean" />
      <xs:element minOccurs="0" name="Volume" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpotifyStatus" nillable="true" type="tns:SpotifyStatus" />
  <xs:complexType name="ArrayOfPlaylist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Playlist" nillable="true" type="tns:Playlist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlaylist" nillable="true" type="tns:ArrayOfPlaylist" />
  <xs:complexType name="ArrayOfTrack">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Track" nillable="true" type="tns:Track" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrack" nillable="true" type="tns:ArrayOfTrack" />
  <xs:complexType name="Search">
    <xs:sequence>
      <xs:element minOccurs="0" name="Albums" nillable="true" type="tns:ArrayOfAlbum" />
      <xs:element minOccurs="0" name="Artists" nillable="true" type="tns:ArrayOfArtist" />
      <xs:element minOccurs="0" name="DidYouMean" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Query" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAlbums" type="xs:int" />
      <xs:element minOccurs="0" name="TotalArtists" type="xs:int" />
      <xs:element minOccurs="0" name="TotalTracks" type="xs:int" />
      <xs:element minOccurs="0" name="Tracks" nillable="true" type="tns:ArrayOfTrack" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Search" nillable="true" type="tns:Search" />
  <xs:complexType name="ArrayOfAlbum">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Album" nillable="true" type="tns:Album" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlbum" nillable="true" type="tns:ArrayOfAlbum" />
  <xs:complexType name="Album">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artist" nillable="true" type="tns:Artist" />
      <xs:element minOccurs="0" name="CoverId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SpotiFire.SpotifyLib" minOccurs="0" name="Type" type="q1:sp_albumtype" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Album" nillable="true" type="tns:Album" />
</xs:schema>