Jukebox.Infrastructure/Service References/SpotiFireServer/metadata2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/spotifire/metadata?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/SpotiFire.Server" />
  <xs:import schemaLocation="http://localhost:8081/spotifire/metadata?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SpotiFire.Server" minOccurs="0" name="AuthenticateResult" type="q1:AuthenticationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaylists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaylistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SpotiFire.Server" minOccurs="0" name="GetPlaylistsResult" nillable="true" type="q2:ArrayOfPlaylist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaylistTracks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaylistTracksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SpotiFire.Server" minOccurs="0" name="GetPlaylistTracksResult" nillable="true" type="q4:ArrayOfTrack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayPlaylistTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="playlistId" type="q5:guid" />
        <xs:element minOccurs="0" name="position" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetShuffle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="random" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRepeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="repeat" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SpotiFire.Server" minOccurs="0" name="GetStatusResult" nillable="true" type="q6:SpotifyStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Exit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVolume">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="volume" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayPause">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="playlistId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnqueueTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="playlistId" type="q8:guid" />
        <xs:element minOccurs="0" name="position" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SpotiFire.Server" minOccurs="0" name="GetQueueResult" nillable="true" type="q9:ArrayOfTrack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomQueue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SpotiFire.Server" minOccurs="0" name="GetCustomQueueResult" nillable="true" type="q10:ArrayOfTrack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayNext">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="playlistId" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentTrack">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentTrackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SpotiFire.Server" minOccurs="0" name="GetCurrentTrackResult" nillable="true" type="q12:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SpotiFire.Server" minOccurs="0" name="SearchResult" nillable="true" type="q13:Search" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrackFromSearchToPlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="playlistId" type="q14:guid" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlaySearchedTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="playlistId" type="q15:guid" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="trackId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlaySearchedTrackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SpotiFire.Server" minOccurs="0" name="PlaySearchedTrackResult" nillable="true" type="q16:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>