Jukebox.Infrastructure/Service References/SpotiFireServer/SpotifireServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SpotifireServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpContextBinding_Spotify_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <IncludeContext ProtectionLevel="Sign" xmlns="http://schemas.microsoft.com/ws/2006/05/context" />
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/spotifire/metadata?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/spotifire/metadata?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/spotifire/metadata?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/SpotiFire.Server" />
      <xsd:import schemaLocation="http://localhost:8081/spotifire/metadata?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SpotiFire.SpotifyLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Spotify_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="Spotify_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="Spotify_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="Spotify_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="Spotify_GetPlaylists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaylists" />
  </wsdl:message>
  <wsdl:message name="Spotify_GetPlaylists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaylistsResponse" />
  </wsdl:message>
  <wsdl:message name="Spotify_GetPlaylistTracks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaylistTracks" />
  </wsdl:message>
  <wsdl:message name="Spotify_GetPlaylistTracks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaylistTracksResponse" />
  </wsdl:message>
  <wsdl:message name="Spotify_PlayPlaylistTrack_InputMessage">
    <wsdl:part name="parameters" element="tns:PlayPlaylistTrack" />
  </wsdl:message>
  <wsdl:message name="Spotify_SetShuffle_InputMessage">
    <wsdl:part name="parameters" element="tns:SetShuffle" />
  </wsdl:message>
  <wsdl:message name="Spotify_SetRepeat_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRepeat" />
  </wsdl:message>
  <wsdl:message name="Spotify_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="Spotify_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="Spotify_Exit_InputMessage">
    <wsdl:part name="parameters" element="tns:Exit" />
  </wsdl:message>
  <wsdl:message name="Spotify_SetVolume_InputMessage">
    <wsdl:part name="parameters" element="tns:SetVolume" />
  </wsdl:message>
  <wsdl:message name="Spotify_PlayPause_InputMessage">
    <wsdl:part name="parameters" element="tns:PlayPause" />
  </wsdl:message>
  <wsdl:message name="Spotify_EnqueueTrack_InputMessage">
    <wsdl:part name="parameters" element="tns:EnqueueTrack" />
  </wsdl:message>
  <wsdl:message name="Spotify_GetQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQueue" />
  </wsdl:message>
  <wsdl:message name="Spotify_GetQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQueueResponse" />
  </wsdl:message>
  <wsdl:message name="Spotify_GetCustomQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomQueue" />
  </wsdl:message>
  <wsdl:message name="Spotify_GetCustomQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomQueueResponse" />
  </wsdl:message>
  <wsdl:message name="Spotify_PlayNext_InputMessage">
    <wsdl:part name="parameters" element="tns:PlayNext" />
  </wsdl:message>
  <wsdl:message name="Spotify_GetCurrentTrack_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentTrack" />
  </wsdl:message>
  <wsdl:message name="Spotify_GetCurrentTrack_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentTrackResponse" />
  </wsdl:message>
  <wsdl:message name="Spotify_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="Spotify_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="Spotify_AddTrackFromSearchToPlaylist_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTrackFromSearchToPlaylist" />
  </wsdl:message>
  <wsdl:message name="Spotify_PlaySearchedTrack_InputMessage">
    <wsdl:part name="parameters" element="tns:PlaySearchedTrack" />
  </wsdl:message>
  <wsdl:message name="Spotify_PlaySearchedTrack_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlaySearchedTrackResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="Spotify">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/Authenticate" message="tns:Spotify_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Spotify/AuthenticateResponse" message="tns:Spotify_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/Login" message="tns:Spotify_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Spotify/LoginResponse" message="tns:Spotify_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetPlaylists">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/GetPlaylists" message="tns:Spotify_GetPlaylists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Spotify/GetPlaylistsResponse" message="tns:Spotify_GetPlaylists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetPlaylistTracks">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/GetPlaylistTracks" message="tns:Spotify_GetPlaylistTracks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Spotify/GetPlaylistTracksResponse" message="tns:Spotify_GetPlaylistTracks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="PlayPlaylistTrack">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/PlayPlaylistTrack" message="tns:Spotify_PlayPlaylistTrack_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="SetShuffle">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/SetShuffle" message="tns:Spotify_SetShuffle_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="SetRepeat">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/SetRepeat" message="tns:Spotify_SetRepeat_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/GetStatus" message="tns:Spotify_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Spotify/GetStatusResponse" message="tns:Spotify_GetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="Exit">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/Exit" message="tns:Spotify_Exit_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="SetVolume">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/SetVolume" message="tns:Spotify_SetVolume_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="PlayPause">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/PlayPause" message="tns:Spotify_PlayPause_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="EnqueueTrack">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/EnqueueTrack" message="tns:Spotify_EnqueueTrack_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/GetQueue" message="tns:Spotify_GetQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Spotify/GetQueueResponse" message="tns:Spotify_GetQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetCustomQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/GetCustomQueue" message="tns:Spotify_GetCustomQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Spotify/GetCustomQueueResponse" message="tns:Spotify_GetCustomQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="PlayNext">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/PlayNext" message="tns:Spotify_PlayNext_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetCurrentTrack">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/GetCurrentTrack" message="tns:Spotify_GetCurrentTrack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Spotify/GetCurrentTrackResponse" message="tns:Spotify_GetCurrentTrack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/Search" message="tns:Spotify_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Spotify/SearchResponse" message="tns:Spotify_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="AddTrackFromSearchToPlaylist">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/AddTrackFromSearchToPlaylist" message="tns:Spotify_AddTrackFromSearchToPlaylist_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="PlaySearchedTrack">
      <wsdl:input wsaw:Action="http://tempuri.org/Spotify/PlaySearchedTrack" message="tns:Spotify_PlaySearchedTrack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Spotify/PlaySearchedTrackResponse" message="tns:Spotify_PlaySearchedTrack_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpContextBinding_Spotify" type="tns:Spotify">
    <wsp:PolicyReference URI="#NetTcpContextBinding_Spotify_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://tempuri.org/Spotify/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Spotify/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaylists">
      <soap12:operation soapAction="http://tempuri.org/Spotify/GetPlaylists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlaylistTracks">
      <soap12:operation soapAction="http://tempuri.org/Spotify/GetPlaylistTracks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayPlaylistTrack">
      <soap12:operation soapAction="http://tempuri.org/Spotify/PlayPlaylistTrack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SetShuffle">
      <soap12:operation soapAction="http://tempuri.org/Spotify/SetShuffle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SetRepeat">
      <soap12:operation soapAction="http://tempuri.org/Spotify/SetRepeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap12:operation soapAction="http://tempuri.org/Spotify/GetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exit">
      <soap12:operation soapAction="http://tempuri.org/Spotify/Exit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SetVolume">
      <soap12:operation soapAction="http://tempuri.org/Spotify/SetVolume" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PlayPause">
      <soap12:operation soapAction="http://tempuri.org/Spotify/PlayPause" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="EnqueueTrack">
      <soap12:operation soapAction="http://tempuri.org/Spotify/EnqueueTrack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetQueue">
      <soap12:operation soapAction="http://tempuri.org/Spotify/GetQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomQueue">
      <soap12:operation soapAction="http://tempuri.org/Spotify/GetCustomQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayNext">
      <soap12:operation soapAction="http://tempuri.org/Spotify/PlayNext" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentTrack">
      <soap12:operation soapAction="http://tempuri.org/Spotify/GetCurrentTrack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://tempuri.org/Spotify/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTrackFromSearchToPlaylist">
      <soap12:operation soapAction="http://tempuri.org/Spotify/AddTrackFromSearchToPlaylist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PlaySearchedTrack">
      <soap12:operation soapAction="http://tempuri.org/Spotify/PlaySearchedTrack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SpotifireServer">
    <wsdl:port name="NetTcpContextBinding_Spotify" binding="tns:NetTcpContextBinding_Spotify">
      <soap12:address location="net.tcp://localhost:8080/spotifire" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8080/spotifire</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>MattMBP\Mattias</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>